<ion-header>
  <ion-toolbar>
    <ion-title>
      Chow<span style="color: goldenrod;">now</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Sai Riddhi Apartment, Airoli sector 9</ion-label>
          <ion-button fill="outline" slot="end">Locate</ion-button>
        </ion-item>
      
        <ion-card-content>
          Find and Share Recipe/feast with <br/>friends/nearby users<br/>
          <ion-button fill="outline">Let's share</ion-button>
        </ion-card-content>
      </ion-card>


      
    <ion-card class="welcome-card">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_366,h_240,c_fill/bjjfvglauv5jtq9drvtf" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Order from</ion-card-subtitle>
        <ion-card-title>Cooks and Resturants Nearby</ion-card-title>
      </ion-card-header>
    </ion-card>
 
</ion-content>
