<!-- <ion-header translucent>  
    <ion-toolbar color="danger ">  
      <ion-title>Slides</ion-title>  
    </ion-toolbar>  
  </ion-header>   -->
    
      <ion-content >
          <ion-slides style="height: 100%;">
    
            <ion-slide style="background: #f1c40f;">
              <img src="https://media.gettyimages.com/photos/assorted-indian-food-for-lunch-or-dinner-rice-lentils-paneer-dal-picture-id996699224?b=1&k=6&m=996699224&s=612x612&w=0&h=UwGM79pMPS55OdF79rqj1ZrIbakE4FWTLGaGMjgafbs="/>
              <h2>Welcome to <b>ChowNow</b></h2>
              <p>

                Create food ads, share feasts and connect with people. Order food from Fassai Licensed cooks nearby you. 

              </p>


            </ion-slide>
    
            <ion-slide style="background: #9b59b6;">
              <img src="https://i.pinimg.com/originals/93/3d/24/933d2475b901557ba2b3e83daf1283c8.jpg"/>
              <h2>Register as a cook</h2>
              <p>Whether you are a housewife, student or professional chef, register as a cook at Chow now to spread your delicious uniqueness among the crowd.</p>
            </ion-slide>
    
            <ion-slide style="background:#2ecc71;">
              <img src="./slide-3.png"/>
              <h2>How it can help you?</h2>
              <p>It can help you to evolve your passion along with connect with people and as a business.</p>
            </ion-slide>
    
            <ion-slide style="background: #3498db;">
              <img src="./slide-4.png"/>
              <h2>Ready to Register?</h2> 
              <ion-button (click)="goChownow()" fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
            </ion-slide>
    
          </ion-slides>
        </ion-content>
